* {
  outline: none !important;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Light.eot');
  src: url('fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato/Lato-Light.woff2') format('woff2'),
  url('fonts/lato/Lato-Light.woff') format('woff'),
  url('fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Regular.eot');
  src: url('fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato/Lato-Regular.woff2') format('woff2'),
  url('fonts/lato/Lato-Regular.woff') format('woff'),
  url('fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Bold.eot');
  src: url('fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato/Lato-Bold.woff2') format('woff2'),
  url('fonts/lato/Lato-Bold.woff') format('woff'),
  url('fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LatoHeavy';
  src: url('fonts/latoheavy/Lato-Heavy.eot');
  src: url('fonts/latoheavy/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
  url('fonts/latoheavy/Lato-Heavy.woff2') format('woff2'),
  url('fonts/latoheavy/Lato-Heavy.woff') format('woff'),
  url('fonts/latoheavy/Lato-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
html {
  min-height: 100%;
}
body {
  min-height: 100vh;
  line-height: 1.3em;
  overflow-x: hidden;
  font-size: 17px;
  color: $color-primary;
  font-family: $font-family-text;
  font-weight: $font-weight-regular;
  @include flexbox();
  @include flex-direction(column);
}
.sticky-footer {
  flex: 1 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-family: $font-family-title;
  font-weight: 900;
  color: $color-title;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
a {
  color: $color-primary;
  @include transition(all 0.4s ease-in-out);

  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:hover {
    color: $color-hover;
  }
}
p {
  margin: 0 0 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  max-width: 100%;
}
blockquote {
  border-left: 1px solid $color-hover;
  padding-left: 30px;
}
pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}
.nav {
  > li {
    > a {
      &:focus {
        background-color: transparent;
      }
    }
  }
}
.form-control {
  &:focus {
    border-color: $color-hover;
    @include box-shadow(none);
  }
}
#site-loadding {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 99999;
}
.contact-us {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99;

  .item {
    position: relative;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    i {
      font-size: 32px;
    }
    img {
      @include transition(all 0.4s ease-in-out);
    }
    &.phone {
      background-color: $background-primary;

      span {
        display: inline-block;
        font-size: 0;
        font-weight: 700;
        @include transition(all 0.4s ease-in-out);
      }
      &:hover {
        width: 260px;
        margin-right: 0;
        padding: 0 10px;
        border-radius: 25px 0 0 25px;

        img {
          margin-right: 5px;
        }
        span {
          font-size: 42px;
        }
      }
    }
    &.facebook-link {
      background-color: #395195;
      &:hover {
        i {
          -webkit-animation: toTopFromBottom 0.4s forwards;
          -moz-animation: toTopFromBottom 0.4s forwards;
          animation: toTopFromBottom 0.4s forwards;
        }
      }
    }
    &.phone-hide {
      position: absolute;
      top: 0;
      right: 0;
      height: 60px;
      line-height: 60px;
      background-color: $background-primary;
      @include flexbox();
      @include align-items(center);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
#back-top {
  background-color: $background-hover;
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 15px;
  z-index: 1000;
  @include transition(all 400ms ease-in-out);

  a {
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    @include transition(all 0.25s ease-in-out);
  }
  &.active_top {
    opacity: 1;
    bottom: 15px;
  }
  &:hover {
    background-color: $background-primary;
  }
}
/* Social network */
.social-network-item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
  a {
    display: block;
    color: #ffffff;
  }
  &.item-facebook {
    background-color: #3b5998;
  }
  &.item-twitter {
    background-color: #1da1f2;
  }
  &.item-youtube {
    background-color: #cd201f;
  }
  &.item-instagram {
    background-color: #e4405f;
  }
}
.social-network-toTopFromBottom {
  .social-network-item {
    overflow: hidden;

    &:hover {
      i {
        -webkit-animation: toTopFromBottom 0.4s forwards;
        -moz-animation: toTopFromBottom 0.4s forwards;
        animation: toTopFromBottom 0.4s forwards;
      }
    }
  }
}
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
/* owl carousel navigation */
.owl-carousel {
  .owl-nav {
    text-align: center;
    margin-top: 15px;

    button {
      &.owl-next,
      &.owl-prev {
        display: inline-block;
        margin: 0 5px;
        padding: 5px 15px !important;
        background-color: #ff5555;
        @include border-radius(5px);
        @include transition(all 0.4s ease-in-out);

        &:hover {
          background-color: #333333;
        }
      }
      i.fa {
        color: #ffffff;
        font-size: 20px;
        line-height: inherit;
        @include transition(all 0.4s ease-in-out);
      }
    }
  }
  .owl-dots {
    margin-top: 30px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .owl-dot {
      display: inline-block;
      margin: 0 5px;

      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #000000;
        @include border-radius(50%);
        @include transition(all 0.2s ease-in-out);
      }
      &.active,
      &:hover {
        span {
          background-color: #ff5555;
        }
      }
    }
  }
}
.custom-equal-height-owl {
  .owl-stage {
    @include flexbox();

    .owl-item {
      @include flexbox();
      @include flex(1 0 auto);

      .item {
        @include flex(1);
      }
    }
  }
}

/* Breadcrumbs */
.breadcrumbs {
  .breadcrumbs-col {
    padding: 15px 0;
    border-bottom: 1px solid #eeeeee;
  }
}