@media ( min-width: 1200px ) {

  .container {
    max-width: 1170px;
  }

}

@media ( max-width: 1199px ) {

  .container {
    max-width: none;
  }
  .element-post-carousel {
    .owl-carousel {
      .owl-nav {
        display: none;
      }
    }
  }
  .rps_img_100 {
    img {
      max-width: none;
      width: 100% !important;
    }
  }
  .custom-owl-carousel.owl-carousel .owl-nav {
    display: none;
  }

}

@media ( min-width: 992px ) and ( max-width: 1400px ) {

  .site-menu ul li:nth-last-child(1),
  .site-menu ul li:nth-last-child(2) {
    .sub-menu {
      left: auto;
      right: 0;

      li {
        .sub-menu {
          left: auto;
          right: 90%;
        }
        &:hover {
          > .sub-menu {
            left: auto;
            right: 100%;
          }
        }
      }
    }
  }

}

@media ( min-width: 992px ) and ( max-width: 1200px ) {

  .site-menu {
    > ul {
      > li {
        > a {
          font-size: 12px;
        }
      }
    }
    ul {
      li {
        a {
          padding: 0 7px;
        }
      }
    }
  }

}

@media ( min-width: 992px ) {

  .main-navigation {
    &.active-sticky-nav {
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }
  .admin-bar {
    .main-navigation {
      &.active-sticky-nav {
        top: 32px;
      }
    }
  }
  .site-logo {
    position: absolute;
    top: -35px;
    left: 0;
  }
  .site-menu {
    > ul {
      height: 100%;

      > li {
        display: inline-flex;
        height: 100%;
        @include align-items(center);

        &.menu-item-has-children {
          > a {
            position: relative;
            padding-right: 20px;

            &:after {
              position: absolute;
              content: "\f078";
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              right: 0;
              top: 50%;
              @include transform(translateY(-50%));
            }
          }
        }
      }
    }
    ul {
      li {
        .sub-menu {
          display: block !important;
        }
      }
    }
  }
  .modal {
    &.mode-quick-view-product {
      .modal-dialog {
        max-width: 850px;
      }
    }
  }

}

@media ( max-width: 991px ) {
  
  .main-navigation {
    .navbar-expand-lg {
      .container {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .site-navigation_warp {
    display: block;
  }
  .site-logo {
    padding: 15px 0;
    @include flexbox();
    @include justify-content(space-between);
    @include flex(1);
  }
  .navbar-toggle {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  .site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 0;
    background-color: #eeeeee;
    z-index: 99;

    .collapse {
      display: none !important;

      &.in {
        display: block !important;
      }
    }
    ul {
      li {
        display: block;
        padding: 0 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-child {
          border-bottom: 0;
        }
        a {
          display: inline-block;
          padding: 15px 0;
        }
        .sub-menu {
          padding-top: 0;
          display: none;
          position: static;
          opacity: 1;
          visibility: visible;
          border-top: 0;
          background-color: transparent;
          @include transition-duration(0s);
          @include box-shadow(none);

          li {
            border-bottom: 0;
            padding: 0;

            a {
              padding: 8px 0;

              &:before {
                content: "\f111";
                display: inline-block;
                font-family: 'Font Awesome 5 Free';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                margin-right: 10px;
              }
            }
            .icon_menu_item_mobile {
              top: 5px;
              right: 0;
            }
            &:hover {
              background-color: transparent;
              a {
                color: $color-hover;
              }
            }
          }
        }
      }
    }
  }
  .icon_menu_item_mobile {
    display: block;
  }
  .element-about-text {
    .img-features {
      display: none;
    }
  }
  .site-blog {
    .site-post-content {
      padding-left: 0;
    }
  }
  .element-contact-cf7 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .site-footer {
    section {
      &.widget {
        padding-left: 0;
      }
    }
  }

}

@media ( min-width: 768px ) {

  .custom-col-5 {
    @include flex(0 0 40%);
    max-width: 40%;
  }

  .custom-col-2 {
    @include flex(0 0 20%);
    max-width: 20%;
  }
  .site-footer__multi--column {
    border-top: 1px solid #d8d8d8;
    padding: 77px 0 108px;

    .item-col {
      &:not(:last-child) {
        &:after {
          content: "";
          position: absolute;
          right: 15px;
          top: 0;
          height: 100%;
          width: 1px;
          background-color: #e6e6e6;
        }
      }
    }
  }

}

@media ( min-width: 768px ) and ( max-width: 991px ) {

  .element-contact-cf7 {
    .submit-box {
      .note {
        padding-right: 15px;
      }
    }
  }
  .recent_posts_thumbs_widget_list .recent_posts_thumbs_widget_item,
  .recent_posts_thumbs_widget_fist_large .recent_posts_thumbs_widget_item:nth-child(n+2) {
    @include flex-direction(column);
  }
  .recent_posts_thumbs_widget_list .recent_posts_thumbs_widget_item--image,
  .recent_posts_thumbs_widget_fist_large .recent_posts_thumbs_widget_item:nth-child(n+2) .recent_posts_thumbs_widget_item--image {
    max-width: 100%;
    margin: 0 0 10px;
  }
  .recent_posts_thumbs_widget_grid {
    .recent_posts_thumbs_widget_item {
      width: 100%;
    }
  }
  .woocommerce {
    ul {
      &.products {
        &.columns-4,
        &.columns-5 {
          li {
            &.product {
              @include flex(0 0 33.33333333%);
              width: 33.33333333%;
            }
          }
        }
      }
    }
  }

}

@media ( max-width: 767px ) {

  .information {
    padding-top: 15px;
    > div {
      @include flex-wrap(wrap);
    }
    .text,
    .information__social-network {
      margin-right: 0;
      @include flex(0 0 50%);
      max-width: 50%;
    }
    .information__social-network {
      @include justify-content(flex-end);
    }
    .information__contact {
      margin-top: 15px;
      @include flex(0 0 100%);
      max-width: 100%;
    }
  }
  .site-sidebar {
    padding-top: 50px;
  }
  .heading {
    font-size: 20px;
    padding-left: 0;
  }
  .element-product-carousel,
  .element-post-carousel {
    .heading.heading-product {
      font-size: 20px;
      padding-left: 0;
    }
  }
  .site-post-item {
    .site-post-image {
      height: auto;
    }
  }
  .element-contact-cf7 {
    .heading {
      font-size: 25px;
    }
    .submit-box {
      @include flex-direction(column);
    }
  }
  /* woocommerce */
  .woocommerce,
  .woocommerce-page {
    .col2-set {
      .col-1,
      .col-2 {
        @include flex(0 0 100%);
        max-width: 100%;
      }
    }
  }

}

@media ( min-width: 576px ) and ( max-width: 767px ) {

  .information {
    ul {
      @include flex-wrap(wrap);
      li {
        margin-right: 0;
        margin-bottom: 10px;
        @include flex(0 0 25%);
        max-width: 25%;
      }
    }
  }
  .site-footer__multi--column {
    border-top: 1px solid #d8d8d8;
    padding: 77px 0 108px;

    .item-col {
      &:first-child {
        &:after {
          content: "";
          position: absolute;
          right: 15px;
          top: 0;
          height: 100%;
          width: 1px;
          background-color: #e6e6e6;
        }
      }
    }
  }
  .rps_img_100 {
    .elementor-column {
        width: 50%;
    }
  }

  .woocommerce {
    ul {
      &.products {
        &.columns-3,
        &.columns-4,
        &.columns-5 {
          li {
            &.product {
              @include flex(0 0 33.33333333%);
              width: 33.33333333%;
            }
          }
        }
      }
    }
  }

}

@media ( max-width: 575px ) {

  .information {
    ul {
      @include flex-wrap(wrap);
      li {
        margin-right: 0;
        margin-bottom: 10px;
        @include flex(0 0 50%);
        max-width: 50%;
      }
    }
  }
  .comment-form {
    .comment-fields-row {
      margin-bottom: 0;
    }
    .form-comment-item {
      margin-bottom: 15px;
    }
  }
  .woocommerce {
    ul {
      &.products {
        &.columns-3,
        &.columns-4,
        &.columns-5 {
          li {
            &.product {
              @include flex(0 0 50%);
              width: 50%;
            }
          }
        }
      }
    }
  }
  .contact-us {
    a {
      &.phone {
        :hover {
          width: 290px;
        }
      }
    }
  }

}

@media ( max-width: 480px ) {

  .comments-area {
    .comment-list {
      li {
        .comment-body {
          margin-bottom: 15px;

          .comment-meta {
            padding-left: 15px;
          }
        }
      }
    }
    ul {
      li {
        ul {
          &.children {
            padding-left: 10px;
          }
        }
      }
    }
  }
  /* woocommerce */
  .woocommerce {
    ul {
      &.products {
        &.columns-3,
        &.columns-4,
        &.columns-5 {
          li {
            &.product {
              @include flex(0 0 50%);
              width: 50%;
            }
          }
        }
      }
    }
  }

}