.search-form {
  font-size: 12px;
}
.search-field {
  border: 2px solid $border-color;
  height: auto;
  padding: 9px 10px;
  background-color: #f2f2f2;
  @include border-radius(5px);
  @include box-shadow(none);
}
.search-submit {
  border: 2px solid $border-color;
  background-color: $color-hover;
  color: #fff;
  padding: 9px 10px;
  cursor: pointer;
  overflow: hidden;
  @include border-radius(5px);
  @include transition(all 0.4s ease-in-out);
}
section {
  &.widget {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
    .widget-title {
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 16px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 12px;

        a {
          display: block;
          font-size: 15px;
          color: #818181;

          &:hover {
            color: $color-hover;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        ul {
          &.children,
          &.sub-menu {
            padding-left: 15px;
            padding-top: 10px;

            li {
              border-bottom: 0;
              padding: 0 0 10px;

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
    select {
      width: 100%;
      padding: 9px 10px;
      font-size: 12px;
    }
    &.widget_search {
      .search-form {
        @include flexbox();

        .search-field {
          @include flex(1 auto);
        }
        .search-submit {
          margin-left: 10px;
        }
      }
    }
    &.widget_archive,
    &.widget_categories {
      ul {
        li {
          a {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }
    &.widget_calendar {
      table {
        width: 100%;

        caption {
          padding: 0;
          margin-bottom: 15px;
          text-align: center;
        }
        tr {
          border-bottom: 1px solid $border-color;

          th {
            text-align: center;
          }
          td {
            padding: 5px 0;
            text-align: center;

            &#today {
              background-color: $background-hover;
              color: #ffffff;

              a {
                color: #ffffff;
              }
            }
            &#prev {
              text-align: left;
            }
            &#next {
              text-align: right;
            }
          }
        }
      }
    }
    &.widget_rss {
      ul {
        li {
          padding-bottom: 20px;
          margin-bottom: 20px;

          .rssSummary {
            font-size: 12px;
          }
        }
      }
    }
    &.widget_tag_cloud,
    &.widget_product_tag_cloud {
      .tagcloud {
        a {
          display: inline-block;
          font-size: 13px !important;
          border: 1px solid #eee;
          padding: 5px 10px;
          margin: 0 2px 5px;

          &:hover {
            background-color: #ff5555;
            color: #ffffff;
            border-color: #ff5555;
          }
        }
      }
    }
    .social-network-item {
      margin-bottom: 10px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      @include border-radius(50%);
    }
    .post_widget_warp {
      .post_widget__item {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
        .item-image {
          margin-bottom: 10px;
          img {
            width: 100%;
          }
        }
        .item-title {
          font-size: 14px;
          margin-bottom: 10px;
          overflow: hidden;
        }
        .item-meta {
          font-size: 12px;

          i.fa {
            margin-right: 5px;
          }
        }
        .item-content {
          margin-bottom: 10px;
        }
        .site-post-meta {
          > span {
            font-size: 12px;
          }
        }
      }
    }
  }
}