.element-product-carousel {
  .heading {
    &.heading-product {
      font-size: 40px;
      margin-bottom: 30px;
    }
  }
  .item {
    text-align: center;
    @include flexbox();
    @include flex-direction(column);

    .item-box {
      background-color: #ffffff;
      padding: 40px 15px 20px;
      border: 1px solid #e2e2e2;
      @include transform(translateY(5px));
      @include flexbox();
      @include flex(1);
      @include flex-direction(column);
      @include justify-content(flex-end);
      @include transition(all 0.4s ease-in-out);
    }
    .item-img {
      margin-bottom: 25px;

      img {
        display: inline-block;
        width: auto;
      }
    }
    .title-product {
      font-size: 17px;
      margin: 0;
    }
    .link-product {
      display: block;
      padding: 5px 5px 8px;
      font-size: 17px;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      opacity: 0;
      background-color: $background-primary;
      @include transition(all 0.4s ease-in-out);
    }
    &:hover {
      .item-box {
        @include box-shadow(1px 0 6px 0 rgba(59, 59, 59, 0.2));
        @include transform(translateY(0));
      }
     .link-product {
       opacity: 1;
     }
    }
  }
}
.custom-owl-carousel {
  &.owl-carousel {
    .owl-nav {
      margin: 0;

      button {
        position: absolute;
        top: 50%;
        font-size: 30px;
        color: #3c3c3c;
        padding: 0 !important;
        width: 60px;
        height: 60px;
        margin: 0;
        background-color: #e6e6e6;
        @include border-radius(50%);
        @include transform(translateY(-50%));

        &.owl-prev {
          left: -90px;
        }
        &.owl-next {
          right: -90px;
        }
        &:hover {
          color: #ffffff;
          background-color: $background-primary;
        }
      }
    }
  }
}