.information {
  padding: 13px 0;

  .text {
    margin-right: 16px;

    span {
      display: inline-block;
      font-weight: 700;
      color: #806638;
      font-size: 12px;
    }
  }
}
.information__social-network {
  margin-right: 32px;

  .social-network-item {
    margin-right: 24px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    text-align: center;
    @include border-radius(50%);

    &:last-child {
      margin-right: 0;
    }
    a {
      line-height: normal;
    }
  }
}