.information {
  padding: 15px 0;

  .text {
    margin-right: 16px;

    span {
      display: inline-block;
      font-weight: 700;
      color: #806638;
      font-size: 12px;
    }
  }
  ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 5px;

    li {
      margin-right: 15px;
      @include flexbox();

      a {
        color: $color-title-second;
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        @include flex(1);

        span {
          font-size: 12px;
          font-weight: 700;
          @include flexbox();
          @include flex(1);
          @include align-items(flex-end);
          @include transform(translateY(-4px));
        }
        &:hover {
          color: $color-hover;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &.search-box {
        .dropdown-menu {
          width: 300px;
          min-width: inherit;
          border: none;
          padding: 5px 10px;
          margin: 0;
          background-color: $background-primary;
        }
        .search-form {
          @include flexbox();

          .search-field {
            padding: 5px 10px;
            border: none;
            @include border-radius(0);
            @include flex(1);
          }
          .search-submit {
            padding: 5px 10px;
            background-color: $color-primary;
            @include border-radius(0);
          }
        }
      }
    }
  }
}
.header-info-warp {
  padding-left: 133px;
}
.information__social-network {
  margin-right: 25px;

  .social-network-item {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    background-color: #000000;
    @include border-radius(50%);

    &:last-child {
      margin-right: 0;
    }
    a {
      display: inline-block;
      font-size: 15px;
    }
  }
}
.header-search {
  form {
    position: relative;

    label {
      display: none;
    }
    .search-field {
      padding: 8px 50px 8px 20px;
      width: 100%;
      border-width: 1px;
      background-color: transparent;
      @include border-radius(25px);
    }
    .search-submit {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50px;
      text-align: center;
      color: #000000;
      padding: 0;
      border: none;
      font-size: 0;
      background-color: transparent;

      &:after {
        content: "\f002";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 15px;
      }
    }
  }
}
.header-right {
  margin-left: 25px;

  a {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column.custom-widget-image > ul.mega-sub-menu > li.mega-menu-item  .textwidget ul li {
  list-style: none;
  margin: 15px 0 10px;
  padding: 0 0 0 15px;
  @include flexbox();
  @include align-items(center);
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column.custom-widget-image > ul.mega-sub-menu > li.mega-menu-item  .textwidget ul li:last-child {
  margin-bottom: 0;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column.custom-widget-image > ul.mega-sub-menu > li.mega-menu-item  .textwidget ul li img {
  width: 60px;
  margin: 0 10px 0 0;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column.custom-widget-image > ul.mega-sub-menu > li.mega-menu-item  .textwidget ul li a {
  font-weight: 700;
  font-size: 13px;
  padding: 0;
}