.information {
  padding: 3px 0 4px;

  .text {
    margin-right: 16px;

    span {
      display: inline-block;
      font-weight: 700;
      color: #806638;
      font-size: 12px;
    }
  }
  ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 5px;

    li {
      margin-right: 15px;
      @include flexbox();

      a {
        color: $color-title-second;
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        @include flex(1);

        span {
          font-size: 12px;
          font-weight: 700;
          @include flexbox();
          @include flex(1);
          @include align-items(flex-end);
          @include transform(translateY(-4px));
        }
        &:hover {
          color: $color-hover;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &.search-box {
        .dropdown-menu {
          width: 300px;
          min-width: inherit;
          border: none;
          padding: 5px 10px;
          margin: 0;
          background-color: $background-primary;
        }
        .search-form {
          @include flexbox();

          .search-field {
            padding: 5px 10px;
            border: none;
            @include border-radius(0);
            @include flex(1);
          }
          .search-submit {
            padding: 5px 10px;
            background-color: $color-primary;
            @include border-radius(0);
          }
        }
      }
    }
  }
}
.information__social-network {
  margin-right: 32px;

  .social-network-item {
    margin-right: 24px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    text-align: center;
    @include border-radius(50%);

    &:last-child {
      margin-right: 0;
    }
    a {
      line-height: normal;
    }
  }
}