.main-navigation {
  background-color: #fbf4ed;
  @include box-shadow(0 10px 15px -15px rgba(0, 0, 0, 0.3));

  .site-navbar {
    position: relative;
  }
  button {
    &.navbar-toggler {
      padding: 0;
      border: 0;
    }
  }
}
.site-navigation_warp {
  position: relative;
}
.site-logo {
  position: absolute;
  top: -35px;
  left: 0;

  a {
    display: inline-block;
  }
}
.site-menu {
  padding-left: 125px;
  @include flex(1);

  > ul {
    > li {
      padding-top: 14px;
      padding-bottom: 14px;

      &:hover {
        background-color: #ffffff;
      }
      > a {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.65px;
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
      @include transition(all 0.4s ease-in-out);

      a {
        padding: 0 4px;
        text-shadow: none;
        display: block;

        &:hover {
          background-color: transparent;
          color: $color-hover;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      .sub-menu {
        padding: 19px 0;
        min-width: 250px;
        background-color: #ffffff;
        position: absolute;
        top: 120%;
        left: 0;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        @include box-shadow(0 2px 10px -3px rgba(0, 0, 0, 0.3));
        @include transition(all 0.4s ease-out);

        li {
          display: block;
          padding-top: 3px;
          padding-bottom: 3px;

          a {
            font-size: 15px;
            white-space: nowrap;
          }
          .sub-menu {
            padding: 0;
            left: 90%;
            top: 0;
          }
          &:hover {
            > .sub-menu {
              left: 100%;
            }
          }
        }
        > li {
          &:hover {
            background-color: $color-hover;
            > a {
              color: #ffffff;
            }
          }
        }
      }
      &:hover {
        > .sub-menu {
          top: 100%;
          z-index: 999;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.icon_menu_item_mobile {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;

  &:after {
    content: "\f078";
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
  }
  &.icon_menu_item_mobile_active {
    &:after {
      content: "\f077";
    }
  }
}