// Color
$color-primary: #3c3c3c;
$color-title: #3c3c3c;
$color-title-second: #775b26;
$color-hover: #c42517;

// Background
$background-primary: #c42517;
$background-hover: #ff5555;

// Border color
$border-color: #eeeeee;