.site-footer {
  section {
    &.widget {
      margin-bottom: 15px;
      padding-left: 20px;

      &:last-child {
        margin-bottom: 0;
      }
      .textwidget {
        color: #818181;

        h1,h2,h3,h4,h5,h6 {
          color: #818181;
        }
        p {
          font-size: 13px;
          line-height: 1.8em;
        }
      }
    }
  }
}
.site-footer__copyright {
  border-top: 1px solid $border-color;
  padding: 10px 0;
}
.site-copyright {
  font-size: 12px;

  p {
    &:last-child {
      margin: 0;
    }
  }
}
.site-footer__menu {
  text-align: right;
  @include flex(1);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 5px;

      &:last-child {
        padding-right: 0;
      }
      a {
        font-size: 12px;
      }
    }
  }
}
.zalo-chat {
  position: fixed;
  bottom: 80px;
  right: 15px;
  width: 40px;
}