.site-blog {
  &.site-container {
    padding-top: 0;
  }
  .site-post-content {
    padding-top: 72px;

    .row {
      margin-left: -8px;
      margin-right: -8px;
    }
    .item-col {
      margin-bottom: 22px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .title-cate {
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    margin-bottom: 52px;
  }
}
.site-post-item {
  background-color: #fbf4ed;
  overflow: hidden;
  @include border-radius(5px);
  @include flexbox();
  @include flex-direction(column);
  @include flex(1);
  @include transition(all 0.4s ease-in-out);

  .site-post-content {
    padding: 25px 15px 15px;
    border: 1px solid #eee;
    @include flex(1 auto);
  }
  .site-post-image {
    height: 184px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .item-content {
    padding: 18px 15px 20px;
    @include flexbox();
    @include flex-direction(column);
    @include flex(1);
  }
  &:hover {
    @include box-shadow(0 0 11px rgba(59, 59, 59, 0.5));
  }
}
.site-post-title {
  margin-bottom: 10px;
  font-size: 21px;

  a {
    display: inline-block;
    color: $color-title-second;

    i {
      margin-right: 5px;
    }
    &:hover {
      color: $color-title;
    }
  }
}
.site-post-meta {
  font-size: 12px;
  margin-bottom: 5px;
  @include flexbox();
  @include flex-wrap(wrap);

  > span {
    display: inline-block;
    margin-right: 5px;
    color: #666667;
    font-size: 16px;

    &:first-child {
      color: #0872b9;
    }
    &:after {
      display: inline-block;
      content: '-';
      margin-left: 3px;
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }
    a {
      color: $color-hover;

      &:hover {
        color: $color-primary;
      }
    }
  }
  .site-post-author {
    overflow: hidden;
    img {
      margin-right: 5px;
      @include border-radius(50%);
    }
  }
}
.site-post-excerpt {
  font-size: 15px;
  line-height: 1.16em;
  margin-bottom: 10px;
  @include flex(1);

  ul {
    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  table {
    margin-bottom: 30px;
    width: 100%;
    tr {
      border-bottom: 1px solid $border-color;

      th {
        padding: 10px 20px 10px 0;
      }
    }
  }
  dd {
    margin: 0 0 20px;
  }
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
.page-links {
  font-weight: $font-weight-bold;

  a {
    display: inline-block;

    span {
      display: inline-block;
      padding: 0 5px;
    }
  }
}
.link-post {
  a {
    color: $color-hover;
    font-size: 15px;
    font-family: LatoHeavy;

    i {
      position: relative;
      top: 1px;
      font-size: 14px;
    }
    &:hover {
      color: $color-title;
    }
  }
}
.cate-image {
  img {
    width: 100%;
  }
}